.h1 {
  font-size: var(--font-size-h1);
  font-weight: 700;
  line-height: var(--line-height-h1);
  color: var(--text-primary);
  margin: 0;
}

.h2 {
  font-size: var(--font-size-h2);
  font-weight: 700;
  line-height: var(--line-height-h2);
  color: var(--text-primary);
  margin: 0;
}

.h3 {
  font-size: var(--font-size-h3);
  font-weight: 600;
  line-height: var(--line-height-h3);
  color: var(--text-primary);
  margin: 0;
}

.h4 {
  font-size: var(--font-size-h4);
  font-weight: 600;
  line-height: var(--line-height-h4);
  color: var(--text-primary);
  margin: 0;
}

.bodyL {
  font-size: var(--font-size-body-l);
  font-weight: 400;
  line-height: var(--line-height-body-l);
  color: var(--text-primary);
  margin: 0;
}

.bodyM {
  font-size: var(--font-size-body-m);
  font-weight: 400;
  line-height: var(--line-height-body-m);
  color: var(--text-primary);
  margin: 0;
}

.bodyS {
  font-size: var(--font-size-body-s);
  font-weight: 400;
  line-height: var(--line-height-body-s);
  color: var(--text-primary);
  margin: 0;
}
